body {
    color: #353535;
}
.hole {
    display: inline-block;
    border: 4px double black;
    height: 130px;
    width: 130px;
    box-sizing: border-box;
}

.active {
    background-image: url(https://github.com/netology-code/ahj-homeworks/blob/video/dom/pic/goblin.png?raw=true);
    display: inline-block;
    border: 4px double black;
    height: 130px;
    width: 130px;
    box-sizing: border-box;
}
