body {
    color: #353535;
}
.hole {
    display: inline-block;
    border: 4px double black;
    height: 130px;
    width: 130px;
    box-sizing: border-box;
}

.active {
    background-image: url('/src/statick/goblin.png');
    display: inline-block;
    border: 4px double black;
    height: 130px;
    width: 130px;
    box-sizing: border-box;
}
.hammer{
    cursor: url('../statick/hammer.png') 2 2, auto;
}